---
title: Chats
selectedChat: null 
---
{{!< main}}

<div class="chats__wrapper">
  <aside class="aside__wrapper">
    <div class="aside__header">
      <a href="./profile.hbs" class="aside__profile-link">Профиль</a>

      <div class="aside__search-field search-field__wrapper">
        <input type="text" name="search" placeholder=" " class="search-field__input">
        <span class="search-field__icon"></span>
        <label class="search-field__label">Поиск</label>
      </div>
    </div>

    <ul class="list__wrapper"> 
      {{#each chats}}
        <li class="list__item">
          <div class="chat-preview__wrapper {{#if this.unreadCounter}}chat-preview__wrapper_active{{/if}}">
            <span class="chat-preview__avatar"></span>

            <div class="chat-preview__body">
              <div class="chat-preview__header">
                <span class="chat-preview__name">{{this.name}}</span>
                <span class="chat-preview__timestamp">{{this.timestamp}}</span>
              </div>
              
              <div class="chat-preview__content">
                <span class="chat-preview__last-message">{{this.lastMessage}}</span>

                {{#if this.unreadCounter}}
                  <span class="chat-preview__unread-counter">{{this.unreadCounter}}</span>
                {{/if}}
              </div>
            </div>
          </div>
        </li>
      {{/each}}
    </ul>
  </aside>

  <main class="main__wrapper">
    {{#if chat}}
      <div class="main__header">
        <span class="main__avatar"></span>
        <span class="main__name">{{chat.name}}</span>
        <span class="main__actions">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </span>
      </div>

      <div class="main__chat-feed">
        Заглушка
      </div>

      <div class="main__new-message-box">
        <span class="main__attachment">
          <i class="fa-solid fa-paperclip fa-xl"></i>
        </span>

        <div class="message-field__wrapper">
          <input type="text" name="newMessage" placeholder=" " class="message-field__input">
          <label class="message-field__label">Сообщение</label>
        </div>

        <span class="main__send-btn">
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </div>
    {{else}}
      <span class="main__empty-message">Выберите чат, чтобы отправить сообщение</span>
    {{/if}}
  </main>
</div>